{% include 'adminheader.html' %}
<div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="/static/img/carousel-1.jpg" alt="Image" style="height: 200px">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                        	</div></div></div></div></div></div>
<center>
	<h1>View Sellers</h1>
	<table class="table" style="width: 500px">
		<tr>
			<th>Slno</th>
			<th>Seller name</th>
			<th>Place</th>
			<th>Phone</th>
			<th>Email</th>
		</tr>
		{% for row in data['sell']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['seller_name']}}</td>
			<td>{{row['place']}}</td>
			<td>{{row['phone']}}</td>
			<td>{{row['email']}}</td>
		</tr>
		{% endfor %}
	</table>
</center>
{% include 'footer.html'%}