{% include 'agentheader.html'%}
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="/static/img/carousel-1.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">

<center>
	<h1 style="color: white">Assign Agent</h1>
	<form method="post">
		<table class="table" style="width: 500px;color: white">
			<tr>
				<th>Agent</th>
				<td><select name="agg" required=""  class="form-control">
					<option>Select</option>
					{% for row in data['agen']%}
					<option value="{{row['agent_id']}}">{{row['agent_name']}}</option>
					{% endfor %}
				</select></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="agents"></td>
			</tr>
		</table>
	</form>
</center>
</div></div></div></div></div></div>
{% include 'footer.html'%}